<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./adminLog.css" />
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon" />
    <form action="/" method="get" id="homeForm"></form>
    <script>
      (function tokenValidate() {
        console.log('tokenValidating');
        if (localStorage.getItem('token') == null) {
          console.log('invalid');
          document.getElementById('homeForm').submit();
        } else {
          console.log('valid');
        }
      })();
    </script>

    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Admin Log</title>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <div style="display: flex">
          <img
            src="./icons/navBarIcon.png"
            title="Switch Mode"
            id="navBarIcon"
            alt="Switch Mode"
            style="cursor: pointer; width: 8%; margin: 0.5% 3%"
          />
          <div class="heading">Data Entry System</div>
        </div>
        <form id="btn" action="/logout" method="get" class="logoutButton">
          <div class="admin" id="user-mode-name"><%= currentUser %></div>
          <button
            type="button"
            onclick="logout()"
            style="
              background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
            "
            class="button-logout bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
          >
            LOGOUT
          </button>
        </form>
      </div>
      <!-- ! ................................Side Nav Bar Menu................................ -->
      <div id="navBarDivision">
        <!-- <div id="CloseBtnDiv">
          <button
            onclick="handleSideBar()"
            type="button"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
            class="close_Btn bg-gray-400 text-white font-medium text-2xl leading-tight uppercase shadow-md hover:bg-gray-900 hover:shadow-lg focus:bg-gray-900 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition duration-150 ease-in-out"
          >
            &times;
          </button>
        </div> -->
        <div
          id="UserProfileDiv"
          onmouseover="onmouseoverBGColor(event)"
          onmouseout="onmouseoutBGColor(event)"
          onclick="handleFormSubmit(event)"
        >
          <div id="user_Profile" class="category">User Profile</div>
        </div>
        <div
          id="DataEntryDiv"
          onmouseover="onmouseoverBGColor(event)"
          onmouseout="onmouseoutBGColor(event)"
          onclick="handleFormSubmit(event)"
        >
          <div id="dataEntry" class="category">Data Entry</div>
        </div>
        <div
          id="ReportGenerationDiv"
          onmouseover="onmouseoverBGColor(event)"
          onmouseout="onmouseoutBGColor(event)"
          onclick="handleFormSubmit(event)"
        >
          <div id="reportGeneration" class="category">Report Generation</div>
        </div>
        <div
          id="AdministrationDiv"
          onmouseover="onmouseoverBGColor(event)"
          onmouseout="onmouseoutBGColor(event)"
          onclick="handleFormSubmit(event)"
        >
          <div id="administration" class="category">Administration</div>
        </div>
        <div
          id="AdminLogDiv"
          onmouseover="onmouseoverBGColor(event)"
          onmouseout="onmouseoutBGColor(event)"
        >
          <div id="adminLog" class="category">Admin Logs</div>
        </div>
        <div
          id="DashboardDiv"
          onmouseover="onmouseoverBGColor(event)"
          onmouseout="onmouseoutBGColor(event)"
          onclick="handleFormSubmit(event)"
        >
          <div id="activityLog" class="category">Dashboard</div>
          <!-- </div> -->
        </div>
        <div id="UpdateSectionDiv"
          onmouseover="onmouseoverBGColor(event)"
          onmouseout="onmouseoutBGColor(event)"
          onclick="handleFormSubmit(event)"
        >
          <div id="update" class="category">Update Section</div>
        </div>
      </div>

      <form action="/profile" method="post" id="userProfileForm">
        <input
          type="hidden"
          id="currentUser"
          name="currentUser"
          value="<%= currentUser %>"
        />
        <input
          type="hidden"
          id="currentEmpID"
          name="currentEmpID"
          value="<%= currentEmpID %>"
        />
        <input
          type="hidden"
          id="companyName"
          name="companyName"
          value="<%= companyName %>"
        />
        <input type="hidden" class="token" name="token" value="" />
      </form>
      <form action="/follower" id="followerForm" method="post">
        <input
          type="hidden"
          id="currentUser"
          name="currentUser"
          value="<%= currentUser %>"
        />
        <input
          type="hidden"
          id="currentEmpID"
          name="currentEmpID"
          value="<%= currentEmpID %>"
        />
        <input
          type="hidden"
          id="companyName"
          name="companyName"
          value="<%= companyName %>"
        />
        <input type="hidden" class="token" name="token" value="" />
      </form>
      <form action="/filter" method="post" id="filterFrom">
        <input
          type="hidden"
          id="currentUser"
          name="currentUser"
          value="<%= currentUser %>"
        />
        <input
          type="hidden"
          id="currentEmpID"
          name="currentEmpID"
          value="<%= currentEmpID %>"
        />
        <input
          type="hidden"
          id="companyName"
          name="companyName"
          value="<%= companyName %>"
        />
        <input type="hidden" class="token" name="token" value="" />
      </form>
      <form action="/admin" method="post" id="adminForm">
        <input
          type="hidden"
          id="currentUser"
          name="currentUser"
          value="<%= currentUser %>"
        />
        <input
          type="hidden"
          id="currentEmpID"
          name="currentEmpID"
          value="<%= currentEmpID %>"
        />
        <input
          type="hidden"
          id="companyName"
          name="companyName"
          value="<%= companyName %>"
        />
        <input type="hidden" class="token" name="token" value="" />
      </form>
      <form action="/dashboard" method="post" id="dashboardForm">
        <input
          type="hidden"
          id="currentUser"
          name="currentUser"
          value="<%= currentUser %>"
        />
        <input
          type="hidden"
          id="currentEmpID"
          name="currentEmpID"
          value="<%= currentEmpID %>"
        />
        <input
          type="hidden"
          id="companyName"
          name="companyName"
          value="<%= companyName %>"
        />
        <input type="hidden" class="token" name="token" value="" />
      </form>
      <form action="/updateSection" method="post" id="update_Section">
        <input
          type="hidden"
          id="currentUser"
          name="currentUser"
          value="<%= currentUser %>"
        />
        <input
          type="hidden"
          id="currentEmpID"
          name="currentEmpID"
          value="<%= currentEmpID %>"
        />
        <input
          type="hidden"
          id="companyName"
          name="companyName"
          value="<%= companyName %>"
        />
        <input type="hidden" class="token" name="token" value="" />
      </form>

      <div class="title_container flex justify-center px-16 py-4 mt-2">
        <h1
          class="text-2xl leading-tight font-medium mb-2"
          style="color: #e2b842"
        >
          Admin Activity Logs
        </h1>
      </div>
      <div class="table_container">
        <table>
          <thead class="table_Heading">
            <tr>
              <th>Emp ID</th>
              <th>Done By</th>
              <th>Activity</th>
              <th>Emp ID</th>
              <th>Done To</th>
              <th>Date</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody class="table_body">
            <%for(let i = 0; i< adminActivityRecords.length; i++) { const
            singleProperties = Object.keys(adminActivityRecords[i]) %>
            <tr class="table_row">
              <%for(let j = 0; j< singleProperties.length; j++) {%>
              <td class="table_row">
                <%= adminActivityRecords[i][singleProperties[j]] %>
              </td>
              <%}%>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script>
    console.log('token: ', localStorage.getItem('token'));

    const tokenElements = document.getElementsByClassName('token');

    Object.values(tokenElements).map((tokenElement) => {
      tokenElement.value = localStorage.getItem('token');
    });

    document.addEventListener('click', hideAndSeek);

    function hideAndSeek(event) {
      const navBarDivision = document.getElementById('navBarDivision');
      if (event.target.id != 'navBarIcon') {
        navBarDivision.style.display = 'none';
      } else {
        if (
          navBarDivision.style.display == 'none' ||
          navBarDivision.style.display == ''
        ) {
          navBarDivision.style.display = 'inline-block';
        } else if (navBarDivision.style.display == 'inline-block') {
          navBarDivision.style.display = 'none';
        }
      }
    }

    function onmouseoverBGColor(event) {
      event.target.style.backgroundColor = '#075154';
    }

    function onmouseoutBGColor(event) {
      if (event.target.id != 'adminLog') {
        event.target.style.backgroundColor = '#4ca1af';
      }
    }

    function handleFormSubmit(event) {
      var empStatus = '<%= emp_Status %>';
      var empChartAccess = '<%= emp_ChartAccess %>';

      if (event.target.id == 'dataEntry') {
        document.getElementById('followerForm').submit();
      }else if (event.target.id == 'update') {
          if (empStatus == 'admin') {
            document.getElementById('update_Section').submit();
          } else {
            document.getElementById(
              'adminAccessDeniedDivision'
            ).style.visibility = 'visible';
          }
        } else if (event.target.id == 'reportGeneration') {
        if (empChartAccess.length > 0) {
          document.getElementById('filterFrom').submit();
        } else {
          document.getElementById(
            'reportGenerationDeniedDivision'
          ).style.visibility = 'visible';
        }
      } else if (event.target.id == 'administration') {
        if (empStatus == 'admin') {
          document.getElementById('adminForm').submit();
        } else {
          document.getElementById(
            'adminAccessDeniedDivision'
          ).style.visibility = 'visible';
        }
      } else if (event.target.id == 'activityLog') {
        if (empStatus == 'admin') {
          document.getElementById('dashboardForm').submit();
        } else {
          document.getElementById(
            'adminAccessDeniedDivision'
          ).style.visibility = 'visible';
        }
      } else if (event.target.id == 'user_Profile') {
        document.getElementById('userProfileForm').submit();
      }
    }

    function handleSideBar() {
      const navBarDivision = document.getElementById('navBarDivision');
    }

    function logout() {
      localStorage.removeItem('token');
      Object.values(tokenElements).map((tokenElement) => {
        tokenElement.value = '';
      });
      document.getElementsByClassName('logoutButton')[0].submit();
    }
  </script>
</html>
