<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./firstLayer.css" />
    <title>Data Entry System</title>
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon" />
    <form action="/" method="get" id="homeForm"></form>
    <script>
      (function tokenValidate() {
        console.log('tokenValidating');
        if (localStorage.getItem('token') == null) {
          console.log('invalid');
          document.getElementById('homeForm').submit();
        } else {
          console.log('valid');
        }
      })();
    </script>

    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script src="../resources/tailwind.config.js"></script> -->
  </head>
  <body>
    <div>
      <div class="header">
        <div style="display: flex; align-items: center; padding: 1%">
          <img
            src="./icons/home.png"
            title="Home"
            id="home-icon"
            alt="Home"
            onclick="document.getElementById('followerForm').submit();"
          />
          <div class="heading">Data Entry System</div>
          <p class="selected-message">Body Number : <%= currentBodyNumber %></p>
        </div>
        <form id="btn" action="/logout" method="get" class="logoutButton">
          <div class="admin" id="user-mode-name"><%= currentUser %></div>
          <button
            type="button"
            onclick="logout()"
            style="
              background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
            "
            class="button-logout bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
          >
            LOGOUT
          </button>
        </form>
      </div>
      <div id="title-name-content">
        <div class="sub_container">
          <img
            src="./icons/arrow.png"
            title="Back"
            id="go-back-icon"
            alt="Go Back"
            onclick="document.getElementById('followerForm').submit();"
          />
          <p id="title-name">Select Category :</p>
        </div>
        <!-- Toggle Switch for online / offline -->
        <div id="toggle" class="mt-10 ml-8">
          <div class="flex w-full mb-8">
            <label
              id="label_switch"
              for="toggle_switch"
              class="flex items-center cursor-pointer"
              style="justify-content: center"
            >
              <div class="relative">
                <input
                  type="checkbox"
                  id="toggle_switch"
                  class="sr-only mode"
                  onclick="dynamicText()"
                />
                <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                <div
                  class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"
                ></div>
              </div>
              <div
                class="ml-2 text-gray-300 font-medium text-2xl"
                id="mode_status"
              >
                Online
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="update_container">
        <div class="update_subContainer">
          <h1 class="update_title">UPDATE CATEGORY SECTION</h1>
          <div class="update_btn_container">
            <button
              type="button"
              class="inline-block px-6 py-2.5 bg-blue-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out"
              onclick="(() => {document.getElementById('UpdateCategoryDivision').style.visibility = 'visible'})()"
            >
              EDIT CATEGORY
            </button>
            <button
              type="button"
              class="inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out"
              onclick="(() => {document.getElementById('addCategoryDivision').style.visibility = 'visible'})()"
            >
              ADD CATEGORY
            </button>
            <button
              type="button"
              class="inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out"
              onclick="(() => {document.getElementById('removeCategoryDivision').style.visibility = 'visible'})()"
            >
              DELETE CATEGORY
            </button>
          </div>
        </div>
      </div>
      <div class="main-content">
        <% for(let i = 0 ; i < bodyNumberOptions.length ; i++){ %>
        <button
          onclick="transmit('<%= bodyNumberOptions[i]%>')"
          class="form-content"
          id="first-layer-button<%= i+1 %>"
        >
          <%= bodyNumberOptions[i]%>
        </button>
        <%}%>
      </div>
      <!-- !........... Popups for Deletion of category........... -->
      <div id="removeCategoryDivision">
        <div class="removeCategoryModalContent">
          <div id="removeCategoryDivisionHolder">
            <p
              style="
                font-weight: 700;
                margin: 1%;
                padding: 1%;
                font-size: large;
              "
            >
              Remove Category
            </p>
            <div id="removeCategoryInput">
              <p style="font-weight: 500">Select Category -></p>
              <select name="category" id="category">
                <% for(let i = 0 ; i < bodyNumberOptions.length ; i++){ %>
                <option
                  class="category_options"
                  id="remove_category_option_<%= i+1 %>"
                  value="<%= bodyNumberOptions[i]%>"
                >
                  <%= bodyNumberOptions[i]%>
                </option>
                <%}%>
              </select>
            </div>
            <!-- <div  id="selectUserIDErrorMsg" style="visibility: hidden;color: #FF0000;">Select an user ID</div> -->
            <div id="removeCategoryButton">
              <button
                style="display: block"
                class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2"
                onclick="(() => document.getElementById('removeCategoryDivisionEnsure').style.visibility = 'visible')()"
              >
                Remove
              </button>
              <button
                style="display: block"
                class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2"
                onclick="(() => {document.getElementById('removeCategoryDivision').style.visibility = 'hidden'})()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="removeCategoryDivisionEnsure">
        <div class="removeCategoryEnsureModalContent">
          <div
            id="removeCategoryDivisionEnsureHolder"
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            "
          >
            <p style="font-size: large; font-weight: 600">
              Are you sure want to remove ?
            </p>
            <div id="removeCategoryEnsureButton">
              <button
                style="display: block"
                class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2"
                onclick="removeCategory()"
              >
                Remove
              </button>
              <button
                style="display: block"
                class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2"
                onclick="(() => {document.getElementById('removeCategoryDivisionEnsure').style.visibility = 'hidden'})()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="removeCategoryDivisionSuccess">
        <div class="removeCategoryrDivisionSuccessModalContent">
          <div id="removeCategoryFinalDivisionHolder">
            <p
              style="
                font-weight: 700;
                margin: 1%;
                padding: 1%;
                font-size: large;
              "
              id="removeCategoryFinalMessage"
            ></p>
            <div>
              <button
                onclick="(() => document.getElementById('firstLayerForm').submit())()"
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- !........... Popups for Adding of category........... -->
      <div id="addCategoryDivision">
        <div class="addCategoryModalContent">
          <div id="addCategoryDivisionHolder">
            <p
              style="
                font-weight: 700;
                margin: 1%;
                padding: 1%;
                font-size: large;
              "
            >
              Add Category
            </p>
            <div id="addCategoryInput">
              <p style="font-weight: 500">Add Category-></p>
              <form id="addCategoryForm">
                <input type="text" value="" id="add_category" required />
              </form>
            </div>
            <div>
              <p
                id="addCategoryErrorMsg"
                style="font-weight: 500; color: #f00000"
              ></p>
            </div>
            <div id="addCategoryButton">
              <button
                style="display: block"
                class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2"
                onclick="validateCategory()"
              >
                Add
              </button>
              <button
                style="display: block"
                class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2"
                onclick="(() => {document.getElementById('addCategoryDivision').style.visibility = 'hidden'})()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="addCategoryDivisionEnsure">
        <div class="addCategoryEnsureModalContent">
          <div
            id="addCategoryDivisionEnsureHolder"
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            "
          >
            <p style="font-size: large; font-weight: 600">
              Are you sure want to Add ?
            </p>
            <div id="addCategoryEnsureButton">
              <button
                style="display: block"
                class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2"
                onclick="addCategory()"
              >
                Add
              </button>
              <button
                style="display: block"
                class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2"
                onclick="(() => {document.getElementById('addCategoryDivisionEnsure').style.visibility = 'hidden'})()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="addCategoryDivisionSuccess">
        <div class="addCategoryDivisionSuccessModalContent">
          <div id="addCategoryFinalDivisionHolder">
            <p
              style="
                font-weight: 700;
                margin: 1%;
                padding: 1%;
                font-size: large;
              "
              id="addCategoryFinalMessage"
            ></p>
            <div>
              <button
                onclick="(() => document.getElementById('firstLayerForm').submit())()"
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- !........... Popups for Updating Category........... -->
      <div id="UpdateCategoryDivision">
        <div class="UpdateCategoryModalContent">
          <div id="UpdateCategoryDivisionHolder">
            <form id="updateCategoryForm"></form>
            <p
              style="
                font-weight: 700;
                margin: 1%;
                padding: 1%;
                font-size: large;
              "
            >
              Edit Category
            </p>
            <div id="UpdateCategoryInput">
              <p style="font-weight: 500">Select Category -></p>
              <select name="update_category" id="update_category" required>
                <% for(let i = 0 ; i < bodyNumberOptions.length ; i++){ %>
                <option
                  class="category_options"
                  id="update_category_option_<%= i+1 %>"
                  value="<%= bodyNumberOptions[i]%>"
                >
                  <%= bodyNumberOptions[i]%>
                </option>
                <%}%>
              </select>
            </div>
            <div id="UpdateCategoryInput">
              <p style="font-weight: 500">Category Name</p>
              <input type="text" name="categoryName" id="categoryName" required/>
            </div>
            </form>
            <div>
              <p id="updateCategoryErrorMsg"></p>
            </div>
            <div id="UpdateCategoryButton">
              <button
                style="display: block"
                class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2"
                onclick="validateCategoryUpdation()"
              >
                Update
              </button>
              <button
                style="display: block"
                class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2"
                onclick="(() => document.getElementById('UpdateCategoryDivision').style.visibility = 'hidden')()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="UpdateCategoryDivisionEnsure">
        <div class="UpdateCategoryEnsureModalContent">
          <div
            id="UpdateCategoryDivisionEnsureHolder"
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            "
          >
            <p style="font-size: large; font-weight: 600">
              Are you sure want to edit category?
            </p>
            <div id="UpdateCategoryEnsureButton">
              <button
                style="display: block"
                class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2"
                onclick="updateCategory()"
              >
                Edit
              </button>
              <button
                style="display: block"
                class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2"
                onclick="(() => {document.getElementById('UpdateCategoryDivisionEnsure').style.visibility = 'hidden'})()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="updateCategoryDivisionSuccess">
        <div class="updateCategoryDivisionSuccessModalContent">
          <div id="updateCategoryFinalDivisionHolder">
            <p
              style="
                font-weight: 700;
                margin: 1%;
                padding: 1%;
                font-size: large;
              "
              id="updateCategoryFinalMessage"
            ></p>
            <div>
              <button
                onclick="(() => document.getElementById('firstLayerForm').submit())()"
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </div>

      <form action="/follower" id="followerForm" method="post">
        <input
          type="hidden"
          id="currentUser"
          name="currentUser"
          value="<%= currentUser %>"
        />
        <input
          type="hidden"
          id="currentEmpID"
          name="currentEmpID"
          value="<%= currentEmpID %>"
        />
        <input
          type="hidden"
          id="companyName"
          name="companyName"
          value="<%= companyName %>"
        />
        <input type="hidden" class="token" name="token" value="" />
      </form>
      <form action="/firstlayer" method="post" id="firstLayerForm">
        <input
          type="hidden"
          id="currentUser"
          name="currentUser"
          value="<%= currentUser %>"
        />
        <input
          type="hidden"
          id="currentEmpID"
          name="currentEmpID"
          value="<%= currentEmpID %>"
        />
        <input
          type="hidden"
          id="companyName"
          name="companyName"
          value="<%= companyName %>"
        />
        <input
          type="hidden"
          id="currentBodyNumber"
          name="currentBodyNumber"
          value="<%= currentBodyNumber %>"
        />
        <input
          type="hidden"
          id="defectBodyNumberStatus"
          name="defectBodyNumberStatus"
          value="<%= defectBodyNumberStatus %>"
        />
        <input type="hidden" class="token" name="token" value="" />
      </form>
      <form action="/secondlayer" method="post" id="secondLayerForm">
        <input
          type="hidden"
          name="selectedCategory"
          id="selectedCategory"
          value=""
        />
        <input
          type="hidden"
          id="currentUser"
          name="currentUser"
          value="<%= currentUser %>"
        />
        <input
          type="hidden"
          id="currentEmpID"
          name="currentEmpID"
          value="<%= currentEmpID %>"
        />
        <input
          type="hidden"
          id="companyName"
          name="companyName"
          value="<%= companyName %>"
        />
        <input
          type="hidden"
          id="currentBodyNumber"
          name="currentBodyNumber"
          value="<%= currentBodyNumber %>"
        />
        <input
          type="hidden"
          id="defectBodyNumberStatus"
          name="defectBodyNumberStatus"
          value="<%= defectBodyNumberStatus %>"
        />
        <input type="hidden" name="mode" id="mode" value="" />
        <input type="hidden" class="token" name="token" value="" />
      </form>
    </div>

    <script>
      console.log('token: ', localStorage.getItem('token'));

      const bodyNumberOptions = '<%= bodyNumberOptions %>';

      const tokenElements = document.getElementsByClassName('token');

      Object.values(tokenElements).map((tokenElement) => {
        tokenElement.value = localStorage.getItem('token');
      });

      modeDOM = document.getElementsByClassName('mode')[0];
      modeDOM.checked = true;
      function dynamicText() {
        if (!modeDOM.checked) {
          modeDOM.checked = false;
          document.getElementById('mode_status').innerHTML = 'Offline';
        } else {
          modeDOM.checked = true;
          document.getElementById('mode_status').innerHTML = 'Online';
        }
      }

      async function transmit(selectedGroup) {
        var mode = 'online';
        if (!modeDOM.checked) {
          mode = 'offline';
        }
        const secondLayerForm = document.getElementById('secondLayerForm');
        document.getElementById('selectedCategory').value = selectedGroup;
        document.getElementById('mode').value = mode;
        secondLayerForm.submit();
      }

      function validateCategory() {
        const addCategoryForm = document.getElementById('addCategoryForm');
        if (!addCategoryForm.checkValidity()) {
          if (addCategoryForm.reportValidity) {
            addCategoryForm.reportValidity();
          } else {
            alert(msg.ieErrorForm);
          }
        } else {
          if (
            bodyNumberOptions.includes(
              document.getElementById('add_category').value
            )
          ) {
            document.getElementById('addCategoryErrorMsg').innerHTML =
              'Category already exists';

            setTimeout(() => {
              document.getElementById('addCategoryErrorMsg').innerHTML = '';
            }, 3000);
          } else {
            document.getElementById(
              'addCategoryDivisionEnsure'
            ).style.visibility = 'visible';
          }
        }
      }

      function validateCategoryUpdation() {
        const updateCategoryForm = document.getElementById('updateCategoryForm');
        if (!updateCategoryForm.checkValidity()) {
          if (updateCategoryForm.reportValidity) {
            updateCategoryForm.reportValidity();
          } else {
            alert(msg.ieErrorForm);
          }
        } else {
          if (
            bodyNumberOptions.includes(
              document.getElementById('categoryName').value
            )
          ) {
            document.getElementById('updateCategoryErrorMsg').innerHTML =
              'Category already exists';

            setTimeout(() => {
              document.getElementById('updateCategoryErrorMsg').innerHTML = '';
            }, 3000);
          } else {
            document.getElementById(
              'UpdateCategoryDivisionEnsure'
            ).style.visibility = 'visible';
          }
        }
      }

      async function updateCategory() {
        const newCategoryName = document.getElementById('categoryName').value;
        const updateCategory = document.getElementById('update_category').value;

        const response = await fetch('/updateCategory', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json',
          },
          body: JSON.stringify({
            newCategoryName,
            updateCategory,
          }),
        });

        if (response.status == 200) {
          document.getElementById('updateCategoryFinalMessage').innerHTML =
            'Category successfully edited';

          document.getElementById(
            'updateCategoryDivisionSuccess'
          ).style.visibility = 'visible';
        } else {
          document.getElementById('updateCategoryFinalMessage').innerHTML =
            'Error editing category. Try Again!';

          document.getElementById(
            'updateCategoryDivisionSuccess'
          ).style.visibility = 'visible';
        }
      }

      async function addCategory() {
        const newCategory = document.getElementById('add_category').value;

        const response = await fetch('/addCategory', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json',
          },
          body: JSON.stringify({
            newCategory: newCategory,
          }),
        });

        const data = await response.json();

        if (data.status == 'success') {
          document.getElementById('addCategoryFinalMessage').innerHTML =
            'Category successfully added';

          document.getElementById(
            'addCategoryDivisionSuccess'
          ).style.visibility = 'visible';
        } else {
          document.getElementById('addCategoryFinalMessage').innerHTML =
            'Error adding category. Try Again!';

          document.getElementById(
            'addCategoryDivisionSuccess'
          ).style.visibility = 'visible';
        }
      }

      async function removeCategory() {
        const category = document.getElementById('category').value;
        console.log('category: ', category);

        const response = await fetch('/removeCategory', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json',
          },
          body: JSON.stringify({
            category,
          }),
        });

        if (response.status == 200) {
          document.getElementById('removeCategoryFinalMessage').innerHTML =
            'Category removed successfully';
          document.getElementById(
            'removeCategoryDivisionSuccess'
          ).style.visibility = 'visible';
        } else {
          document.getElementById('removeCategoryFinalMessage').innerHTML =
            'Error removing Category. Try Again!';
          document.getElementById(
            'removeCategoryDivisionSuccess'
          ).style.visibility = 'visible';
        }
      }

      function logout() {
        localStorage.removeItem('token');
        Object.values(tokenElements).map((tokenElement) => {
          tokenElement.value = '';
        });
        document.getElementsByClassName('logoutButton')[0].submit();
      }
    </script>
  </body>
</html>
